/* Typescale
 * https://m3.material.io/styles/typography/type-scale-tokens
 * 
 */

:root {
  /* Default */
  --khao-sys-typescale-default-font: var(--khao-ref-typeface-default);

  /* Title */
  --khao-sys-typescale-title-large-line-height: var(--khao-sys-size-regular-6);
  --khao-sys-typescale-title-large-size: var(--khao-sys-size-typography-11);
  --khao-sys-typescale-title-large-weight: 400;
  --khao-sys-typescale-title-medium-line-height: var(--khao-sys-size-regular-4);
  --khao-sys-typescale-title-medium-size: var(--khao-sys-size-typography-8);
  --khao-sys-typescale-title-medium-weight: 700;

  /* Body */
  --khao-sys-typescale-body-font: var(--khao-ref-typeface-default);
  --khao-sys-typescale-body-large-line-height: var(--khao-sys-size-regular-6);
  --khao-sys-typescale-body-large-size: var(--khao-sys-size-typography-8);
  --khao-sys-typescale-body-large-weight: 400;

  /* Label */
  --khao-sys-typescale-label-large-line-height: var(--khao-sys-size-regular-6);
  --khao-sys-typescale-label-large-size: var(--khao-sys-size-typography-9);
  --khao-sys-typescale-label-large-weight: 400;
  --khao-sys-typescale-label-large-weight-prominent: 700;
  --khao-sys-typescale-label-medium-line-height: var(--khao-sys-size-regular-4);
  --khao-sys-typescale-label-medium-size: var(--khao-sys-size-typography-6);
  --khao-sys-typescale-label-medium-weight: 400;
  --khao-sys-typescale-label-medium-weight-prominent: 700;
}
