/* Color system
 * https://m3.material.io/styles/color/system/how-the-system-works
 */

:root {
  /* Corporate */
  --khao-ref-palette-black: #000000;
  --khao-ref-palette-bamboo: #ae9137;
  --khao-ref-palette-bamboo-light: #f7f3e6;
  --khao-ref-palette-green: #3e5618;
  --khao-ref-palette-green-light: #9acd32;

  --khao-ref-palette-red: #aa1d2d; /* $color-red */
  --khao-ref-palette-orange: #ff9900;
  --khao-ref-palette-gold: #ceb464; /* $color-gold */
  --khao-ref-palette-white: #ffffff;

  /* Neutral */
  /*
 $color-lightest-grey: #ebebeb;
 $color-lighter-grey: #aaaaaa;
 $color-light-grey: #8c8c8c;
 $color-dark-grey: #666666;
 $color-darkest-grey: #2a2a2a;
*/

  --khao-ref-palette-neutral10: var(--khao-ref-palette-black);
  --khao-ref-palette-neutral30: color-mix(
    in srgb,
    var(--khao-ref-palette-black),
    var(--khao-ref-palette-white) 30%
  );
  --khao-ref-palette-neutral50: color-mix(
    in srgb,
    var(--khao-ref-palette-black),
    var(--khao-ref-palette-white) 50%
  );
  --khao-ref-palette-neutral80: color-mix(
    in srgb,
    var(--khao-ref-palette-black),
    var(--khao-ref-palette-white) 80%
  );
  --khao-ref-palette-neutral100: var(--khao-ref-palette-white);
}
