/* Spacing
 * https://m3.material.io/foundations/layout/understanding-layout/spacing
 */

:root {
  --khao-sys-size-regular-1: var(--khao-ref-base-size-regular);
  --khao-sys-size-regular-2: calc(var(--khao-ref-base-size-regular) * 2);
  --khao-sys-size-regular-3: calc(var(--khao-ref-base-size-regular) * 3);
  --khao-sys-size-regular-4: calc(var(--khao-ref-base-size-regular) * 4);
  --khao-sys-size-regular-5: calc(var(--khao-ref-base-size-regular) * 5);
  --khao-sys-size-regular-6: calc(var(--khao-ref-base-size-regular) * 6);
  --khao-sys-size-regular-7: calc(var(--khao-ref-base-size-regular) * 7);
  --khao-sys-size-regular-8: calc(var(--khao-ref-base-size-regular) * 8);
  --khao-sys-size-regular-9: calc(var(--khao-ref-base-size-regular) * 9);
  --khao-sys-size-regular-10: calc(var(--khao-ref-base-size-regular) * 10);

  --khao-sys-size-typography-1: var(--khao-ref-base-size-typography);
  --khao-sys-size-typography-2: calc(var(--khao-ref-base-size-typography) * 2);
  --khao-sys-size-typography-3: calc(var(--khao-ref-base-size-typography) * 3);
  --khao-sys-size-typography-4: calc(var(--khao-ref-base-size-typography) * 4);
  --khao-sys-size-typography-5: calc(var(--khao-ref-base-size-typography) * 5);
  --khao-sys-size-typography-6: calc(var(--khao-ref-base-size-typography) * 6);
  --khao-sys-size-typography-7: calc(var(--khao-ref-base-size-typography) * 7);
  --khao-sys-size-typography-8: calc(var(--khao-ref-base-size-typography) * 8);
  --khao-sys-size-typography-9: calc(var(--khao-ref-base-size-typography) * 9);
  --khao-sys-size-typography-10: calc(
    var(--khao-ref-base-size-typography) * 10
  );
  --khao-sys-size-typography-11: calc(
    var(--khao-ref-base-size-typography) * 11
  );
}
