/* Color system
 * https://m3.material.io/styles/color/system/how-the-system-works
 */

:root {
  --khao-sys-color-primary: var(--khao-ref-palette-jungle);
  --khao-sys-color-on-primary: var(--khao-ref-palette-black);

  --khao-sys-color-primary-container: color-mix(
    in srgb,
    var(--khao-sys-color-primary),
    var(--khao-ref-palette-white) 30%
  );
  --khao-sys-color-on-primary-container: var(--khao-ref-palette-black);

  --khao-sys-color-secondary: var(--khao-ref-palette-bamboo);
  --khao-sys-color-on-secondary: var(--khao-ref-palette-black);

  --khao-sys-color-secondary-container: color-mix(
    in srgb,
    var(--khao-sys-color-secondary),
    var(--khao-ref-palette-white) 40%
  );
  --khao-sys-color-on-secondary-container: var(--khao-ref-palette-black);

  --khao-sys-color-tertiary: var(--khao-ref-palette-flower);
  --khao-sys-color-on-tertiary: var(--khao-ref-palette-black);

  --khao-sys-color-tertiary-container: color-mix(
    in srgb,
    var(--khao-sys-color-tertiary),
    var(--khao-ref-palette-white) 40%
  );
  --khao-sys-color-on-tertiary-container: var(--khao-ref-palette-black);

  --khao-sys-color-outline: color-mix(
    in srgb,
    var(--khao-ref-palette-bamboo),
    var(--khao-sys-color-neutral30) 10%
  );
  --khao-sys-color-on-outline: var(--khao-ref-palette-black);

  --khao-sys-color-outline-bright: color-mix(
    in srgb,
    var(--khao-sys-color-outline),
    var(--khao-ref-palette-white) 50%
  );
  --khao-sys-color-on-outline-bright: var(--khao-ref-palette-black);

  --khao-sys-color-background: var(--khao-ref-palette-sand);
  --khao-sys-color-on-background: var(--khao-ref-palette-black);

  --khao-sys-color-surface: color-mix(
    in srgb,
    var(--khao-ref-palette-sand),
    var(--khao-ref-palette-bamboo) 20%
  );
  --khao-sys-color-on-surface: var(--khao-ref-palette-black);

  --khao-sys-color-surface-container: color-mix(
    in srgb,
    var(--khao-sys-color-surface),
    var(--khao-sys-color-secondary-container) 60%
  );
  --khao-sys-color-on-surface-container: var(--khao-ref-palette-black);

  --khao-sys-color-surface-container-low: color-mix(
    in srgb,
    var(--khao-sys-color-surface-container),
    var(--khao-ref-palette-white) 40%
  );
  --khao-sys-color-on-surface-container-low: var(--khao-ref-palette-black);

  --khao-sys-color-surface-container-lowest: color-mix(
    in srgb,
    var(--khao-sys-color-surface-container),
    var(--khao-ref-palette-white) 60%
  );
  --khao-sys-color-on-surface-container-lowest: var(--khao-ref-palette-black);

  --khao-sys-color-surface-container-high: color-mix(
    in srgb,
    var(--khao-sys-color-surface-container),
    var(--khao-sys-color-outline) 20%
  );
  --khao-sys-color-on-surface-container-high: var(--khao-ref-palette-black);

  --khao-sys-color-surface-container-highest: color-mix(
    in srgb,
    var(--khao-sys-color-surface-container),
    var(--khao-sys-color-outline) 40%
  );
  --khao-sys-color-on-surface-container-highest: var(--khao-ref-palette-black);

  --khao-sys-color-neutral10: var(--khao-ref-palette-neutral10);
  --khao-sys-color-neutral30: var(--khao-ref-palette-neutral30);
  --khao-sys-color-neutral50: var(--khao-ref-palette-neutral50);
  --khao-sys-color-neutral80: var(--khao-ref-palette-neutral80);
  --khao-sys-color-neutral90: var(--khao-ref-palette-neutral90);

  --khao-sys-static-color-success: var(--khao-ref-palette-green);
  --khao-sys-static-color-on-success: var(--khao-ref-palette-white);

  --khao-sys-static-color-success-container: color-mix(
    in srgb,
    var(--khao-sys-static-color-success),
    var(--khao-ref-palette-white) 40%
  );
  --khao-sys-static-color-on-success-container: var(--khao-ref-palette-black);

  --khao-sys-static-color-error: var(--khao-ref-palette-red);
  --khao-sys-static-color-on-error: var(--khao-ref-palette-white);

  --khao-sys-static-color-error-container: color-mix(
    in srgb,
    var(--khao-sys-static-color-error),
    var(--khao-ref-palette-white) 50%
  );
  --khao-sys-static-color-on-error-container: var(--khao-ref-palette-black);

  --khao-sys-static-color-white: var(--khao-ref-palette-white);
  --khao-sys-static-color-on-white: var(--khao-ref-palette-black);

  --khao-sys-static-color-black: var(--khao-ref-palette-black);
  --khao-sys-static-color-on-black: var(--khao-ref-palette-white);
}
