:root {
  --khao-sys-elevation-level2-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  --khao-sys-elevation-level2-distance: 1002; 


  --khao-sys-elevation-level1-shadow:  8px 8px 16px #e8e4d8,
             -8px -8px 16px #fffff4;
  --khao-sys-elevation-level1-distance: 1001;
}
