:root {
  /* Level 4 */
  --khao-sys-elevation-level4-distance: 1004;

  /* Level 3 */
  --khao-sys-elevation-level3-distance: 1003;

  /* Level 3 */
  --khao-sys-elevation-level3-distance: 1002;

  /* Level 1 */
  --khao-sys-elevation-level1-shadow:  8px 8px 16px #e8e4d8,
             -8px -8px 16px #fffff4;
  --khao-sys-elevation-level1-distance: 1001;
}
